nav {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: salmon;
}

nav a {
  display: flex;
  align-items: center;
  padding: 0 4vw;
  text-decoration: none;
  color: blanchedalmond;
}

.link-active {
  color: blanchedalmond;
  background: black;
}

.link {
  color: blanchedalmond;
}